 $component-a-variable: 100;

.component-a {
	@extend .grid__column;
	grid-column-start: span 4;

	@media screen and (min-width: $grid-breakpoint1) {
		grid-column-start: span 8;
	}

	@media screen and (min-width: $grid-breakpoint2) {
		grid-column-start: span 12;
	}
	
	background: #444;
	color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;

	&__title {
		font-weight: bold;
		margin-bottom: 1.6rem;
	}
}