// DON'T FORGET PARENS AROUND EXPRESSIONS.
// Otherwise expressions don't get evaluated during compile.

/* Breakpoints */
$vp-sm-max: 59.9rem;
$vp-md-min: 60.0rem;
$vp-lg-min: 90.0rem;

/* Font sizes */

/* Colors */

/* Other */